:root {
    --primary-default: #FADC56;
    --primary-hover: #ECC353;
    --primary-muted: #EBD573;
    --cookie-btn: #3E3E3C

    --text-main: #FFFFFF;
    --text-secondary: #000000;
    --text-plaсeholder: #BFBFBA;
    --line: #ECECEC;
    --theme-bg: #0B111B;
    
    --white: #FFFFFF;
}
